body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  line-height: normal;
  background: url(https://images.unsplash.com/photo-1470093879860-2221625b28be?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDIzfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  color: #333;
}

input,
button {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin: 1.5rem 0;
  color: #4caf50;
}
